.container
  .formField
    .row
      #registration-form.col-xs-12
        = render "form_step_#{@step.to_s}"
  -if @step.to_i == 2
    #ChooseYourAgents.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg{:role => "document"}
        .modal-content
          .modal-body
            = render :partial => 'your_agents', locals: { agents: @recipients }