- if @recipients.present?
  - @recipients.each do |recipient|
    - if current_user.customer?
      = render :partial => 'agent_recipient', :locals => {recipient: recipient, message: @message}
    - else
      = render :partial => 'recipient', :locals => {recipient: recipient, message: @message}
  - if @recipients.count > Settings.system.per_page
    - count = params[:page].to_i + 1
    = link_to next_users_messages_path(count, id: @message.id), :remote => true, :class => 'loadMore jscroll-next' do
      %i.downArrow
      = t("general.next")
:javascript
  checkUncheckRecipients()