.nested-fields.row.row5
  .col-xs-12
    .fieldRemove
      .row.row7
        .col-xs-12.col-sm-6.form-group
          = f.text_field :first_name, :class => "form-control", :placeholder => t('office.owner_name'), :autofocus => true
        .col-xs-12.col-sm-6.form-group
          = f.text_field :share, :class => "virtualKeyboard form-control", :placeholder => t('office.share')
      = link_to_remove_association f, :class => 'addLink' do
        %i.removeIcon
        = t('office.remove')