.container
  .page-title
    %h1
      .title-logo
        = image_tag "logo.png", :class => "mr15", :width => "160"
      =t('office.branch_register')
  #filter_offices
    = render :partial => "fetchAll"