.container
  .page-title
    %h1
      .title-logo
        = image_tag "logo.png", :class => "mr15", :width => "160"
      =t('executive.user_register')
  .row.row-10
    .col-xs-12.col-sm-4.col-md-4.col-sm-offset-2
      %a.toolBox{:href => new_office_path}
        .toolImage
          = image_tag "icon_personal_meeting.png"
        .toolTitle
          =t("executive.office_register_desktop.head_office").html_safe
    - if current_user.executive?
      .col-xs-12.col-sm-4.col-md-4
        %a.toolBox{:href => offices_path}
          .toolImage
            = image_tag "icon_team.png"
          .toolTitle
            =t("executive.office_register_desktop.branch_office").html_safe