<% if @user.errors.any? %>
  $("#forgotPasswordNotice").html('<div id="forgotPassword_flash_msg" class="alert alert-dismissible alert-success"><button class="close" data-dismiss="alert" type="button">×</button><%= t("general.error_#{@user.errors.first[0]}") %></div>')
<% else %>
  $("#forgotPasswordNotice").html("<div id='forgotPassword_flash_msg' class='alert alert-dismissible alert-success'><button class='close' data-dismiss='alert' type='button'>×</button><%= @success_msg %></div>")
<% end %>
$('html, body').animate({scrollTop:$('#forgotPasswordNotice').position().top}, 'slow');
fadeOutFlashMessage('forgotPassword_flash_msg');

setTimeout(function(){
  $("#changePasswordModal").modal('hide')
}, 1000);